{{#each controls as |control|}}
<label for={{control.name}}>{{control.displayName}}</label>
  <input
  oninput={{action (action updateGrabBag control.name)}}
  type="range"
  name={{control.name}}
  value={{control.value}}
  defaultValue={{control.value}}
  step={{control.step}}
  min={{control.min}}
  max={{control.max}}
  />
{{/each}}
